{% extends "base.twig" %}

{% block title %}
	Breadcrumbs Components
{% endblock %}

{# Badge pill halfway covered by navbar. #}
{% block content %}

	<div class="row mt-4">
		<div class="col-md-8">
			{% include 'breadcrumbs.twig' with {'breadcrumbs': breadcrumbs} %}
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-md-8">
			{% include 'codeblock.twig' with {
    'language': 'twig',
    'code': '<nav style="--bs-breadcrumb-divider: ">";" aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ previous_page }}">{{ previous_page_text }}</a>
		</li>
		<li class="breadcrumb-item active" aria-current="{{ current_page }}">{{ current_page_text }}</li>
	</ol>
</nav>
'
} %}
		</div>
	</div>

{% endblock %}
