{% extends 'base.twig' %}

{% block title %}
	Close Button
{% endblock %}

{% block content %}
	<div class="row mt-4">
		<div class="col-md-8">
			{% include 'button_close.twig' %}
		</div>
	</div>

{% endblock %}
