{% if alert_message is not null %}
	<div class="alert {{ alert_type }} alert-dismissible fade show" role="alert">
		{{ alert_message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endif %}
