<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ breadcrumbs.previous_page }}">{{ breadcrumbs.previous_page_text }}</a>
		</li>
		<li class="breadcrumb-item active" aria-current="{{ breadcrumbs.current_page }}">{{ breadcrumbs.current_page_text }}</li>
	</ol>
</nav>
