<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ dropdown_label }}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for item in dropdown_items %}
            <li>
                <a class="dropdown-item" href="{{ item.href }}">{{ item.label }}</a>
            </li>
        {% endfor %}
    </ul>
</li>
